

.customer-box {
    background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1));
    height: 150px;
    width: 300px;
    grid-area: customer-box;
    display: grid;
    grid-template-areas: "title title" "btn-register btn-login";
    color: var(--colour-white);
    padding: 1rem 2rem;
    border-radius: 1rem;
    align-self: start;
    text-align: center;
}


.customer-title-landing-page {
    grid-area: title;
}

.customer-register-btn {
    grid-area: btn-register;
    text-align: start;
}

.customer-login-btn {
    grid-area: btn-login;
    justify-self: end;
    text-align: start;
}

