.landing-page-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-items: center;
    align-items: center;
}

.customer-admin-login-btns {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "customer-box" "admin-box";
}


.customer-box {
    background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5));
    height: 50%;
    grid-area: customer-box;
    display: grid;
    grid-template-areas: "title title" "btn-register btn-login";
    color: var(--colour-white);
    padding: 1rem 2rem;
    border-radius: 1rem;
    align-self: center;
}


.customer-title-landing-page {
    grid-area: title;
}

.customer-register-btn {
    grid-area: btn-register;
}

.customer-login-btn {
    grid-area: btn-login;
    justify-self: end;
}


.admin-box {
    background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5));
    height: 50%;
    grid-area: admin-box;
    display: grid;
    grid-template-areas: "title" "btn-login";
    color: var(--colour-white);
    padding: 1rem 2rem;
    border-radius: 1rem;
    align-self: center;
}

.admin-login-btn {
    grid-area: btn-login;
    justify-self: center;
}